.tiger_listing_updated {
    li {
        width: 100%;
    }
}

.wrapper-slider{    
    .slider-arrow {
        z-index: 999;
    }

     img {
        z-index: 999;
        height: 100%;
    }
}


.main_head_new {
    .wrapper-slider {
        margin-bottom: -100px !important;
    }
    .right_wrapper_tiger .top_comp {
        position: absolute;
        top: -380px;
        left: -307px;
        z-index: -3;
        width: 100%;
    }
    .right_comp {
        z-index: 1;
    }
}

