.main_head_banner {
  padding-top: 145px;
  background-image: url(../images/banner.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  .tiger_center li::before {
    content: "";
    visibility: hidden;
    position: absolute;
  }

  p.list_style_mid {
    display: flex;
    justify-content: start;
    padding-left: 35px;
  }

  .list_style_mid::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 12px;
    background-image: url(../images/tick.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .tiger_top_left {
    .banner-paragraph {
      font-size: 34px;
      color: #ffffff;
      font-weight: 100;
      line-height: 38px;
      font-family: "Montserrat", sans-serif;
      width: 55%;
      margin: auto;
      text-align: center;
    }
  }
  .tiger_list {
    li {
      width: 50%;
      position: relative;
      margin-bottom: 10px;
      p {
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        line-height: 30px;
        color: #fff;
        font-weight: 100;
      }
    }
  }
  .left_btn_wrapper {
    justify-content: center;
    a {
      width: 33%;
    }
  }
}
@media screen and (max-width: 1180px) and (min-width: 768px) {
  .main_head_banner {
    padding-top: 160px;
  }
  .main_head_banner .w-75 {
    width: 94% !important;
  }
  .main_head_banner h2 {
    font-size: 87px;
    line-height: 87px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .main_head_banner h3 {
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
  }
  .main_head_banner .tiger_top_left .banner-paragraph {
    width: 94%;
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
  }
  .main_head_banner .tiger_list li p {
    text-align: left;
    padding-left: 24px;
    font-size: 23px;
    line-height: 23px;
  }
  .main_head_banner .tiger_top_left .tiger_list li.ps-4 {
    padding-left: 0 !important;
  }
  .main_head_banner .left_btn_wrapper a {
    width: 44%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) and (min-width: 280px) {
  button.btn.btn-banner {
    min-width: auto !important;
  }
  .main_head_banner {
    padding-top: 100px;
  }
  .main_head_banner .w-75 {
    width: 100% !important;
  }
  .main_head_banner h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .main_head_banner h3 {
    font-size: 47px;
    line-height: 47px;
    font-weight: bold;
  }
  .main_head_banner .tiger_top_left .banner-paragraph {
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    margin-top: 10px;
  }
  .main_head_banner .tiger_list li p {
    text-align: left;
    padding-left: 24px;
    font-size: 23px;
    line-height: 23px;
  }
  .main_head_banner .tiger_top_left .tiger_list li.ps-4 {
    padding-left: 0 !important;
    width: 100%;
    margin-bottom: 0;
  }
  .main_head_banner .left_btn_wrapper a {
    width: 100%;
    margin-bottom: 10px;
  }
  .main_head_banner .tiger_list li {
    font-size: 14px;
    line-height: 26px;
    margin-left: 40px;
  }
}
