.banner_tiger_content {
    background-color: #621A4B;

    h3 {
        font-size: 45px;
        color: #FFFFFF;
        line-height: 45px;
    }

    p {
        font-size: 20px;
        color: #FFF;
        font-weight: 300;
    }
}
.banner_section {
    height: 320px;
}
.img_wrap_left {
    height: 320px;
}