.banner_tiger_content {
  background-color: #621a4b;

  h3 {
    font-size: 45px;
    color: #ffffff;
    line-height: 45px;
  }

  p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    font-family: "Roboto";
  }
}
.banner_section {
  height: 320px;
}
.img_wrap_left {
  height: 320px;
}

.left_btn_wrapper a {
  margin: 0 auto;
  z-index: 999;
}

.right_wrapper_tiger {
  height: none !important;
}

@media only screen and (max-width: 767px) {
  .banner_tiger_content h3 {
    text-align: center;
    font-size: 35px;
  }

  .banner_tiger_content p {
    font-size: 25px;
    color: #fff;
    font-weight: 300;
    line-height: 30px;
  }

  .form_callback_banner form {
    min-height: unset !important;
  }

  .right_wrapper_tiger {
    margin-bottom: 40px !important;
    height: 500px !important;
  }
}
