section.form_section {
  background-color: #f4f2f3;
}
.under_heading,
.para_blo_sep,
.btn-submit-form {
  font-family: "Roboto";
}
.inner_left_form {
  background-color: #621a4b;
  font-family: 'Roboto';
  height: 100%;
  img {
    width: 280px;
    height: 70px;
    object-fit: contain;
    margin: 0 auto;
  }
}

.form-outline {
  margin-top: 20px;
}
.form_left_info {
  h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
  }
  p {
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
  }
}

.time_open_tiger {
  h3 {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
  }
  span {
    font-size: 18px;
    color: #ffffff;
    line-height: 28px;
  }
}
.inner_right_form {
  min-height: 460px;
  .txt-form {
    font-size: 25px;
    color: #621a4b;
    font-family: "roboto";
    font-weight: bold;
  }

  .form-control {
    border: none;
    border-bottom: 1px solid #383838;
    border-radius: unset;
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  textarea.form-control {
    resize: none;
    padding: 0;
  }

  select.form-select {
    border: none;
    border-bottom: 1px solid #383838;
    border-radius: unset;
    padding: 12px 0;
    color: #383838;
    font-size: 15px;
    font-family: "roboto";
    background-color: #f8f9fa;
  }

  label.form-label {
    color: #383838;
    margin-bottom: 0px;
  }

  textarea.form-control::placeholder {
    color: #383838;
  }

  button.btn.btn-submit-form {
    background: linear-gradient(
      90deg,
      rgba(251, 160, 31, 1) 0%,
      rgba(240, 114, 111, 1) 100%
    );
    color: #fff;
    min-width: 175px;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transition: 250ms all ease-in;
    position: relative;
  }
  button.btn.btn-submit-form:hover {
    opacity: 0.7;
  }

  .btn-submit-form::after {
    content: "";
    background-image: url("../images/arrow_next.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 25px;
    width: 8px;
    height: 15px;
    transform: translateY(-50%);
  }
}

.main_head .banner-paragraph {
  font-family: "Montserrat", sans-serif;
}
.main_head form .form-outline input {
  text-transform: capitalize;
}

@media only screen and (max-width: 1200px) {
  .inner_left_form {
    margin-bottom: 0 !important;
    min-height: 460px;
    justify-content: center;
  }

  .inner_left_form img {
    visibility: hidden;
    position: absolute;
    left: -99999;
  }

  .inner_right_form {
    max-height: unset;
    margin: 0 !important;
    padding: 50px 25px !important;
  }

  .form_left_info.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .under_heading {
    font-size: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .form_section .heading-separator {
    display: none;
  }

  h3.under_heading {
    font-size: 30px;
    color: #621a4b;
    font-weight: bold;
    font-family: "roboto";
    margin-top: 20px;
  }

  .para_blo_sep {
    width: 100% !important;
  }
}

@media screen and (max-width: 1180px) and (min-width: 768px) {
  .main_head {
    padding-top: 160px;
  }
  .main_head .w-75 {
    width: 94% !important;
  }
  .main_head h2 {
    font-size: 87px;
    line-height: 87px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .main_head h3 {
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
  }
  .main_head .tiger_top_left .banner-paragraph {
    width: 94%;
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
  }
  .main_head .tiger_list li {
    text-align: left;
    padding-left: 24px;
    font-size: 23px;
    line-height: 23px;
  }
  .main_head .left_btn_wrapper a {
    width: 44%;
    margin-bottom: 10px;
  }
  .main_head .left_btn_wrapper {
    margin-top: 20px !important;
  }
  .main_head .right_wrapper_tiger {
    margin-top: 10px;
    margin-bottom: 80px !important;
  }
  .main_head .left_btn_wrapper {
    gap: 10px;
  }
  .main_head .txt-form-banner {
    font-size: 35px;
    line-height: 35px;
  }
  .main_head form .position-relative .btn-banner {
    width: 100%;
    margin-top: 20px;
  }
  .main_head form {
    padding: 20px 80px !important;
    min-height: 550px !important;
  }
}

@media screen and (max-width: 767px) and (min-width: 280px) {
  .main_head {
    padding-top: 100px;
  }
  .main_head .w-75 {
    width: 100% !important;
  }
  .main_head h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .main_head h3 {
    font-size: 47px;
    line-height: 47px;
    font-weight: bold;
  }
  .main_head .tiger_top_left .banner-paragraph {
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
  }
  .main_head .tiger_list li {
    text-align: left;
    font-size: 23px;
    margin-bottom: 10px !important;
    line-height: 23px;
  }
  .main_head .tiger_top_left .tiger_list li.ps-4 {
    width: 100%;
    margin-bottom: 0;
  }
  .main_head .left_btn_wrapper a {
    width: 100%;
    margin-bottom: 10px;
  }
  .main_head .right_wrapper_tiger {
    margin-top: 10px;
  }
  .main_head .txt-form-banner {
    font-size: 25px;
    line-height: 25px;
  }
  .main_head form .position-relative .btn-banner {
    width: 100%;
    margin-top: 20px;
  }
}
