.free-guide {
  background-image: url(../images/bg_guide.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .txt-guide {
    font-size: 30px;
    color: #fba01f;
    font-family: "Roboto";
    font-weight: bold;
  }

  .txt-guide-heading {
    font-size: 45px;
    font-family: "Roboto";
    font-weight: bold;
    line-height: 55px;

  }
  .line-height-custom {
    line-height: 33px;
    font-size: 20px;
    font-family: 'Roboto';
    width: 70%;
    margin: 0 auto;
    font-weight: 200;
    strong {
      a {
        color: #FFF;
        text-decoration: none;
        transition: 250ms all ease-in;

        &:hover {
          opacity: 0.85;
        }
      }
    }
    span.text-highlight-free {
      color: #fba01f;
    }
  }
  form.form-control-custom {
    margin-top: 20%;
  }

  .form-control-custom input {
    padding: 10px;
  }

  button.btn.submit-form {
    background: linear-gradient(
      90deg,
      rgba(251, 160, 31, 1) 0%,
      rgba(240, 114, 111, 1) 100%
    );
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-family: "roboto";
    font-weight: bold;
    transition: 250ms all ease-in;
  }

  button.btn.submit-form:hover {
    opacity: 0.7;
  }
}
@media only screen and (max-width: 767px) {
  .txt-guide-heading {
    font-size: 35px !important;
  }
  .line-height-custom {
    text-align: left !important;
  }

  .line-height-custom {
    line-height: 27px;
    font-size: 20px;
  }

  .form-control-custom {
    width: 80% !important;
  }

  .loans-lists ul li {
    margin-bottom: 20px !important;
  }
  .main-heading {
    font-size: 30px !important;
    text-align: center;
    font-weight: bold;
  }
  .brands .heading-separator {
    margin: auto;
  }

  .txt-guide-heading {
    font-size: 40px !important;
    line-height: 44px;
  }
}
