.who_we_can_help {
  .txt-help {
    color: #621a4b;
    font-size: 45px;
    font-weight: bold;
    font-family: "roboto";
  }

  .text-paragraph {
    font-size: 17px;
    line-height: 28px;
    color: #383838;
  }

  .custom-listing li {
    font-size: 18px !important;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .custom-col-iframe iframe {
    width: 100%;
  }
  .custom-col-iframe {
    display: block !important;
  }
}
