.who_we_can_help {
  .txt-help {
    color: #621a4b;
    font-size: 45px;
    font-weight: bold;
    font-family: "roboto";
  }

  .text-paragraph {
    font-size: 17px;
    line-height: 28px;
    color: #383838;
  }

  .custom-listing li {
    font-size: 18px !important;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .custom-col-iframe iframe {
    width: 100%;
  }
  .custom-col-iframe {
    display: block !important;
  }

  h2.txt-help {
    text-align: center;
}
  .who_we_can_help .heading-separator {
  height: 4px;
  background: #FBA01F;
  width: 135px;
  margin: auto;
  }

  .loans-lists ul {
    list-style: none;
    columns: 1 !important;
    -webkit-columns: 1;
    -moz-columns: 2;
}

  .who_we_can_help .custom-listing li {
    font-size: 22px !important;
  }

  .who_we_can_help .txt-help {
    font-size: 40px;
}

  .who_we_can_help .text-paragraph {
    font-size: 20px;
    line-height: 30px;
    color: #383838;
  }
}
