h2.custom-txt-purple {
  color: #621a4b;
  font-size: 40px;
  font-weight: bold;
  font-family: "roboto";
}

.client {
  padding: 8px 20px;
  border: 1px solid #621a4b;
  border-radius: 5px;
}

.client img {
  width: 100%;
  min-height: 75px;
  object-fit: contain;
}
