
.main_head {
    padding-top: 145px;
    background-image: url('../images/bg_main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.tiger_top_left {
    h2 {
        color: #FBA01F;
        font-size: 90px;
        line-height: 80px;
        span {
            color: #FFF;
        }
    }
    h3 {
        color: #FFFFFF;
        font-size: 60px;
        line-height: 80px;
    }
    p {
        font-size: 28px;
        color: #FFFFFF;
        font-weight: 300;
        line-height: 30px;
    }
}
.tiger_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    li {
        font-size: 18px;
        line-height: 30px;
        color: #FFF;
        font-weight: 300;
        width: 50%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 12px;
            background-image: url('../images/tick.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}
.left_btn_wrapper {
    display: flex;
    gap: 20px;
    a {
        font-size: 18px;
        color: #FFF;
        text-decoration: none;
        display: flex;
        align-items: center;
        height: 50px;
        width: 50%;
        justify-content: center;
        border-radius: 4px;
        box-shadow: 0px 4px rgba(0,0,0, 0.11);
        transition: 250ms all ease-in;

        &:hover {
            opacity: 0.85;
        }

        img {
            width: 8px;
            height: 14px;
            object-fit: contain;
        }
    }
    .consult_btn {
        background: rgb(0,136,255);
        background: linear-gradient(176deg, rgba(0,136,255,1) 0%, rgba(0,136,255,1) 0%, rgba(98,26,75,1) 100%);
     }
     .apply_btn {
        background: rgb(251,160,31);
        background: linear-gradient(176deg, rgba(251,160,31,1) 0%, rgba(251,160,31,1) 0%, rgba(240,114,111,1) 100%);
      }
}
.main_right_img {
    position: absolute;
    width: 100%;
    height: 550px;
    object-fit: contain;
    top: 0px;
    left: 0px;
}
.right_wrapper_tiger {
    position: relative;
    height: 650px;
    margin-bottom: -125px;
    z-index: 9;
    .left_comp {
        position: absolute;
        left: -65px;
        bottom: 0px;
    }
    .top_comp {
        position: absolute;
        top: -30px;
        left: -30px;
        z-index: -1;
    }
    .right_comp {
        position: absolute;
        top: 10%;
        right: -30px;
        width: 170px;
    }
}

.contact_outter img {
    width: 20px;
}
.contact_outter {
    text-align: center;
}
.contact_outter a {
    font-size: 12px;
    color: #FFF;
    text-decoration: none;
}
.contact_outter p {
    font-size: 10px;
    color: #FFF;
}
