
header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999999;
}
.dropdown-menu.show {
    background-color: #621A4B;
    padding: 0px;
    li {
        margin-left: 0px;
        .dropdown-item {
            color: #FFF;
            color: #FFF;
            padding: 10px 15px;
            transition: 250ms all ease-in;

            &:hover {
                background-color: #a72d7f;
                opacity: 0.85;
            }
        }
    }
}

.sticky_header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #621A4B;
}
.nav-link {
    display: flex;
    align-items: center;
}
li.nav-item {
    display: flex;
    align-items: center;
}
.navbar-brand img {
    width: 210px;
    height: 95px;
    object-fit: contain;
}
.nav-link {
    font-size: 18px;
    color: #FFF;
    line-height: 72px;
    font-weight: 400;
    transition: 250ms all ease-in;

    &:hover,  &:active, &:focus {
        color: #FFF;
        opacity: 0.75;
    }
}
.dropdown-toggle {
    position: relative;
    padding-right: 15px !important;
    padding-left: 10px;
}
.dropdown-toggle::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 12px;
    height: 7px;
    border: 0px;
    background-image: url('../images/arrow_drp.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.login_img {
    width: 25px;
}

