.main_head {
        .heading-updated {
           .heading-updated h2 {
                color: #fff;
                span {
                    color: #fba01f;
                }
        }
        p {
            text-transform: capitalize;
        }
    }
}

a.nav-link.nav-call-cta {
    display: flex;
    flex-direction: column !important;
    gap: 5px;
}

.navbar-cs-call {
    .nav-call-cta .login_img {
        filter: invert(63%) sepia(85%) saturate(554%) hue-rotate(343deg) brightness(99%) contrast(98%) !important;
        width: 20px;
    }
    span {
        font-size: 14px;
        text-align: center;
    }
    .toll-txt {
        font-size: 10px;
        text-align: center;
    }
}

.stress-about {
    .heading-stress-about {
        font-size: 34px;
        text-transform: capitalize;
        color: #7B3044;
        font-weight: 700;
    }


    .list-left-stress ul, .list-right-stress ul {
        list-style-type: none;
        line-height: 30px;
    }
    .list-stress-about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 35px;
    }

    .list-left-stress li, .list-right-stress li {
        position: relative;
    }

    .list-left-stress li::before, .list-right-stress li::before {
        content: '';
        background-image: url('../images/cross-icon.svg');
        width: 20px;
        height: 20px;
        position: absolute;
        left: -25px;
        top: 5px;
    }

    .list-left-stress li, .list-right-stress ul {
        font-size: 18px;
    }
    .bg-stress-about {
        background-image: url(../images/about-stress.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        min-height: 400px;
    }

    .bg-stress-about{
        z-index: 1;
    }
    .listing-stress-wrapper {
        z-index: 9999;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(50%);
        padding-left: 40px;
    }
}

.col-tilt {
    position: relative;
    background: #F4F2F3;
}
.stress-about .col-tilt::before {
    content: "";
    position: absolute;
    background-color: #F4F2F3;
    z-index: 2;
    width: 100%;
    height: 99.5%;
    transform: skewX(14deg);
    left: -52px;
    top: 0;
    box-shadow: -13px 0px 11px -9px rgb(0 0 0 / 31%);
}

.looking-for-car {
    .heading-car-loan-about {
        font-size: 34px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 700;
    }
}
@import "_banner-new";