.have-a-question {
  .txt-question {
    color: #621a4b;
    font-size: 45px;
    font-weight: bold;
    max-width: 40%;
    margin: auto;
  }
  .accordion-item {
    margin: 20px 0;
    border: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7 !important;
    border-radius: 5px;
    padding: 1px;
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: #621a4b !important;
    font-weight: bold !important;
    font-family: "roboto" !important;
  }

  button.accordion-button.collapsed {
    font-weight: bold;
    font-family: "roboto";
  }

  .accordion-body p {
    font-family: "roboto";
    line-height: 25px;
    font-weight: lighter;
  }

  .accordion-button::after {
    filter: grayscale(150%) contrast(65.5);
  }
  .custom-img-phone img {
    padding: 5px;
    border: 2px solid #006fff;
    border-radius: 4px;
    width: 28px;
    height: 28px;
  }

  .custom-img-phone a {
    text-decoration: none;
    margin-left: 10px;
    font-family: "roboto";
    font-weight: bold;
  }
}

.have-a-question-mobile {
  visibility: hidden;
  position: absolute;
  left: -999999px;
  .txt-question {
    color: #621a4b;
    font-size: 45px;
    font-weight: bold;
    max-width: 40%;
    margin: auto;
  }
  .accordion-item {
    margin: 20px 0;
    border: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7 !important;
    border-radius: 5px;
    padding: 1px;
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: #621a4b !important;
    font-weight: bold !important;
    font-family: "roboto" !important;
  }

  button.accordion-button.collapsed {
    font-weight: bold;
    font-family: "roboto";
  }

  .accordion-body p {
    font-family: "roboto";
    line-height: 25px;
    font-weight: lighter;
  }

  .accordion-button::after {
    filter: grayscale(150%) contrast(65.5);
  }
  .custom-img-phone img {
    padding: 5px;
    border: 2px solid #006fff;
    border-radius: 4px;
    width: 28px;
    height: 28px;
  }

  .custom-img-phone a {
    text-decoration: none;
    margin-left: 10px;
    font-family: "roboto";
    font-weight: bold;
  }
}

@media only screen and (max-width: 1200px) {
  .have-a-question {
    visibility: hidden;
    position: absolute;
  }

  .have-a-question-mobile {
    visibility: visible;
    position: inherit;
  }

  .have-a-question-mobile .txt-question {
    color: #621a4b;
    font-size: 45px;
    font-weight: bold;
    max-width: 70%;
    margin: auto;
  }

  .have-a-question-mobile img.img-fluid {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  h3.txt-question {
    font-size: 35px !important;
    max-width: 100% !important;
  }

  .have-a-question-mobile img.img-fluid {
    width: 85%;
  }
}
