.news_btn_wrap {
  display: flex;
  justify-content: center;
  a {
    color: #621a4b;
    border: 2px solid #621a4b;
    border-radius: 8px;
    min-width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "Roboto";
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
    transition: 250ms all ease-in;
    img {
      width: 8px;
    }

    &:hover {
      color: #fff;
      background-color: #621a4b;
    }
  }
}


@media(max-width: 1400px) {
  .navbar {
    z-index: 99;
  }
  .nav-link {
    font-size: 18px;
    color: #fff;
    line-height: 24px;
  }
  .navbar-nav {
    background-color: #62194a;
    margin-left: -15px !important;
    margin-right: -15px;
    padding: 20px 20px;
  }
  .navbar-collapse .navbar-nav .nav-item.dropdown {
    flex-direction: column;
    align-items: flex-start;
  }
  .dropdown-menu.show {
    padding: 0px;
    border: 0;
    background-color: transparent;
    li {
      .dropdown-item {
        padding: 0;
        margin: 10px 0px;
        color: #fff;
      }
    }
  }

}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .content_wrapper {
    min-height: 365px;
  }
  .news_section .container, .brands .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    max-width: 100% !important;
  }
  .who_we_can_help {
    background-image: url(../images/bg_why_tab.png);
    background-size: contain;
    background-position: bottom;
  }
  .free-guide .line-height-custom {
    padding: 20px 0px;
  }
  .owl-news .slick-next.slick-arrow {
    position: absolute;
    right: 10px;
    bottom: -70px;
    top: unset;
    visibility: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .owl-news .slick-prev.slick-arrow {
    position: absolute;
    left: 10px;
    bottom: -70px;
    top: unset;
    visibility: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
  }
  .owl-news .slick-dots {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .brands .heading-separator {
    margin: auto;
  }

  h2.main-heading {
    text-align: center;
    font-size: 55px;
  }

  .text_para_steps {
    display: none;
  }

  .loans-lists ul li {
    text-align: left;
  }

  .loans-term-content h2 {
    font-size: 55px;
    line-height: 65px;
  }
  .right_wrapper_tiger {
    margin-top: 40px !important;
  }
  .left_comp.banner_com {
    bottom: 0px;
  }

}

@media (max-width: 1200px) {
  
  .lending_mob .slick-next.slick-arrow {
    position: absolute;
    right: 30%;
    bottom: -60px;
    top: unset !important;
    visibility: hidden;
  }
  .lending_mob .slick-next.slick-arrow::after {
    content: url(../images/right-arrow.svg);
    height: auto;
    width: auto;
    background-color: transparent;
  }
  .lending_mob .slick-prev.slick-arrow::after {
    content: url(../images/left-arrow.svg);
    height: auto;
    width: auto;
    background-color: transparent;
  }
  .lending_mob .slick-prev.slick-arrow {
    position: absolute;
    left: 30%;
    bottom: -60px;
    top: unset !important;
    visibility: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
  }
  .brands_prev {
    left: 30% !important;
    bottom: -30px;
    top: unset !important;
    z-index: 99;
  }
  .brands_slider_container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .brands_next {
    right: 30% !important;
    bottom: -30px;
    top: unset !important;
    z-index: 99;
  }
  .navbar {
    z-index: 99;
  }
  .nav-link {
    font-size: 22px;
    color: #fff;
    line-height: 24px;
  }
  .navbar-nav {
    background-color: #62194a;
    margin-left: -15px !important;
    margin-right: -15px;
    padding: 20px 20px;
  }
  .navbar-collapse .navbar-nav .nav-item.dropdown {
    flex-direction: column;
    align-items: flex-start;
  }
  .dropdown-menu.show {
    padding: 0px;
    border: 0;
    background-color: transparent;
    li {
      .dropdown-item {
        padding: 0;
        margin: 10px 0px;
        color: #fff;
      }
    }
  }

  .tiger_top_left {
    h2,
    h3,
    p {
      text-align: center;
    }
    h2,
    h3 {
      text-transform: uppercase;
    }
  }

  .lending_mob .client {
    margin: 15px;
  }
  .have-a-question .txt-question {
    max-width: 100%;
  }

  .steps_outter {
    width: 50%;
    margin-top: 40px;
  }
  .form-control-custom {
    width: 50%;
    margin: auto;
    margin-top: 30px !important;
  }
  .banner_section {
    height: 100%;
  }
  .youtube_video {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .loans-term-content {
    text-align: center;
    .heading-separator {
      margin: auto;
    }
    .loans-lists {
      padding: 40px 0px;
    }
  }

  .after_two::after {
    width: 0px;
  }

  .left_btn_wrapper {
    align-items: center;
  }
  .brands {
    padding-top: 95px !important;
  }
  .right_wrapper_tiger_form {
    position: relative;
    height: 650px;
    margin-bottom: -45px;
    margin-top: 65px;
  }

  .expert_img_wrapper .img_content p {
    color: #383838;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  .free-guide .line-height-custom {
    line-height: 33px;
    font-size: 20px;
    font-weight: 200;
    margin-top: 15px;
    width: 90%;
  }

  .form-control-custom {
    width: 70%;
    margin: auto;
    margin-top: 30px !important;
  }

  .who_we_can_help .txt-help {
    color: #621a4b;
    font-size: 55px;
    font-weight: bold;
    font-family: "roboto";
    display: flex;
    justify-content: center;
    line-height: 65px;
  }

  .who_we_can_help .heading-separator {
    margin: auto;
  }

  .who_we_can_help .text-paragraph {
    font-size: 25px;
    line-height: 42px;
    font-family: "Montserrat";
  }

  .youtube_video iframe {
    width: 100%;
  }

  .banner_tiger_content h3 {
    font-size: 55px;
    color: #ffffff;
    line-height: 45px;
    text-align: center;
  }
  .banner_tiger_content p {
    font-size: 25px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    line-height: 33px;
  }
}

@media (max-width: 767px) {
  .content_wrapper {
    min-height: 280px;
  }
  .who_we_can_help {
    background-image: url(../images/bg_why_tab.png);
    background-size: contain;
    background-position: bottom;
  }
  
  .expert_img_wrapper {
    width: 100%;
  }
  .right_wrapper_tiger_form {
    position: relative;
    height: 550px !important;
    margin-bottom: 30px !important;
    z-index: 9;
  }
  .form_callback_banner form {
    padding: 20px !important;
  }
  .left_comp.banner_com {
    position: absolute;
    bottom: -4px !important;
}
  .main_head {
    background-image: url(../images/bg_main_mob.png);
  }
  .who_we_can_help .txt-help {
    font-size: 40px;
  }
  .owl-news .slick-next.slick-arrow {
    position: absolute;
    right: 0px;
    bottom: -70px;
    top: unset;
    visibility: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .owl-news .slick-prev.slick-arrow {
    position: absolute;
    left: 0px;
    bottom: -70px;
    top: unset;
    visibility: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
  }
  .owl-news .slick-dots {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .lending_mob .slick-next.slick-arrow {
    position: absolute;
    right: 30%;
    bottom: -40px;
    top: unset !important;
    visibility: hidden;
  }
  .lending_mob .slick-next.slick-arrow::after {
    content: url(../images/right-arrow.svg);
    height: auto;
    width: auto;
    background-color: transparent;
  }
  .lending_mob .slick-prev.slick-arrow::after {
    content: url(../images/left-arrow.svg);
    height: auto;
    width: auto;
    background-color: transparent;
  }
  .lending_mob .slick-prev.slick-arrow {
    position: absolute;
    left: 30%;
    bottom: -40px;
    top: unset !important;
    visibility: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
  }
  .brands_prev {
    left: 30% !important;
    bottom: -30px;
    top: unset !important;
    z-index: 99;
  }
  .brands_slider_container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .brands_next {
    right: 30% !important;
    bottom: -30px;
    top: unset !important;
    z-index: 99;
  }
  .navbar {
    z-index: 99;
  }
  .nav-link {
    font-size: 18px;
    color: #fff;
    line-height: 24px;
  }
  .navbar-nav {
    background-color: #62194a;
    margin-left: -15px !important;
    margin-right: -15px;
    padding: 20px 20px;
  }
  .navbar-collapse .navbar-nav .nav-item.dropdown {
    flex-direction: column;
    align-items: flex-start;
  }
  .dropdown-menu.show {
    padding: 0px;
    border: 0;
    background-color: transparent;
    li {
      .dropdown-item {
        padding: 0;
        margin: 10px 0px;
        color: #fff;
      }
    }
  }

  .steps_outter {
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .brands {
    padding-top: 30px !important;
  }
  .link_last_footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .navbar-brand img {
    width: 120px;
    height: 55px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .navbar-nav {
    background-color: #62194a;
    margin-left: -15px !important;
    margin-right: -15px;
    padding: 0 20px;
  }
  .nav-link {
    font-size: 18px;
    color: #fff;
    line-height: 22px;
  }
  .brands {
    margin-top: 50px;
  }
  .right_wrapper_tiger {
    margin-bottom: 0px;
    z-index: 9;
    margin-top: 50px;
  }
  .tiger_top_left h2 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
  }
  .tiger_top_left h3 {
    color: #ffffff;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  .tiger_top_left p {
    font-size: 22px;
    color: #ffffff;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
  }
  .left_btn_wrapper a {
    margin: 0 auto;
  }
  .left_btn_wrapper {
    gap: 10px;
  }
  .right_wrapper_tiger .right_comp {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 120px;
  }
  .right_wrapper_tiger .top_comp {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 90px;
    z-index: -1;
  }
  .right_wrapper_tiger {
    margin-bottom: -90px;
  }
  .right_wrapper_tiger {
    height: 100%;
  }
  .right_wrapper_tiger .left_comp {
    position: absolute;
    left: -15px;
    bottom: -74px;
    width: 90px;
  }
  .tiger_list li {
    font-size: 14px;
    line-height: 26px;
  }

  .steps_section .main-heading {
    font-size: 35px !important;
  }

  .steps_section .text_para_steps {
    display: none;
  }

  .loans-term-content h2 {
    font-size: 28px !important;
    text-align: center;
  }

  .loans-lists ul {
    columns: 2 !important;
  }
}

@media only screen and (min-width: 374px) and (max-width: 420px) {
  .tiger_top_left h2 {
    font-size: 42px !important;
  }
  h2.custom-txt-purple {
    color: #621a4b;
    font-size: 23px !important;
  }
  .banner_tiger_content h3 {
    font-size: 30px;
    color: #ffffff;
    line-height: 45px;
    text-align: center;
  }
}

@media only screen and (min-width: 995px) and (max-width: 1050px) {
  .left_comp.banner_com {
    position: absolute;
    left: -39px;
    bottom: 30px;
    width: 120px;
  }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .link_last_footer li a {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1385px) {
  .nav-link {
    font-size: 17px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .navbar-nav li {
    margin-left: 10px;
  }
  .collapse.navbar-collapse {
    justify-content: flex-end;
  }
}
