


@media(max-width: 1400px) {
    .right_wrapper_tiger {
        position: relative;
        height: 600px;
        margin-bottom: -125px;
        z-index: 9;
    }
    
    }
    
    @media(max-width: 1200px) {
        .navbar {
            z-index: 99;
        }
        .nav-link {
            font-size: 22px;
            color: #FFF;
            line-height: 24px;
        }
        .navbar-nav {
            background-color: #62194a;
            margin-left: -15px !important;
            margin-right: -15px;
            padding: 20px 20px;
        }
        .navbar-collapse .navbar-nav .nav-item.dropdown {
            flex-direction: column;
            align-items: flex-start;
            }
        .dropdown-menu.show {
            padding: 0px;
            border: 0;
            background-color: transparent;
            li {
                .dropdown-item {
                    padding: 0;
                    margin: 10px 0px;
                    color: #FFF;
                }
            }
        }

        .tiger_top_left {
            h2, h3, p {
                text-align: center;
            }
            h2, h3 {
                text-transform: uppercase;
            }
        }

        .lending_mob .client {
            margin: 15px;
        }
        .have-a-question .txt-question {
            max-width: 100%;
        }

        .steps_outter {
            width: 50%;
            margin-top: 40px;
        }
        .form-control-custom {
            width: 50%;
            margin: auto;
            margin-top: 30px !important;
        }
        .banner_section {
            height: 100%;
        }
        .youtube_video {
            margin-top: 30px;
            display: flex;
            width: 100%;
            justify-content: center;
        }
        .loans-term-content {
            text-align: center;
            .heading-separator {
                margin: auto;
            }
            .loans-lists {
                padding: 40px 0px;
            }
        }
       
        .after_two::after {
            width: 0px;
        }
    
        .left_btn_wrapper {
            align-items: center;
    
        }
        .brands {
            padding-top: 95px !important;
        }
        .right_wrapper_tiger {
            position: relative;
            height: 650px;
            margin-bottom: -45px;
            margin-top: 65px;
        }
    
     }
    
    @media(max-width: 767px) {
        .link_last_footer {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
        .navbar-brand img {
            width: 120px;
            height: 55px;
            -o-object-fit: contain;
            object-fit: contain;
        }
        .navbar-nav {
            background-color: #62194a;
            margin-left: -15px !important;
            margin-right: -15px;
            padding: 0 20px;
        }
        .nav-link {
            font-size: 18px;
            color: #FFF;
            line-height: 22px;
        }
        .brands {
            margin-top: 50px;
        }
        .right_wrapper_tiger {
            margin-bottom: 0px;
            z-index: 9;
            margin-top: 50px;
        }
        .tiger_top_left h2 {
            font-size: 60px;
            text-align: center;
            text-transform: uppercase;
        }
        .tiger_top_left h3 {
            color: #FFFFFF;
            font-size: 50px;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
        }
        .tiger_top_left p {
            font-size: 22px;
            color: #FFFFFF;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            margin-top: 20px;
        }
        .left_btn_wrapper a {
            margin: 0 auto;
        }
        .left_btn_wrapper {
            gap: 10px;
        }
        .right_wrapper_tiger .right_comp {
            position: absolute;
            top: -10px;
            right: -15px;
            width: 120px;
        }
        .right_wrapper_tiger .top_comp {
            position: absolute;
            top: -20px;
            left: -20px;
            width: 90px;
            z-index: -1;
        }
        .right_wrapper_tiger {
            margin-bottom: -90px;
        }
        .right_wrapper_tiger {
            height: 100%;
        }
        .right_wrapper_tiger .left_comp {
            position: absolute;
            left: -15px;
            bottom: -74px;
            width: 90px;
        }
        .tiger_list li {
            font-size: 14px;
            line-height: 26px;
        }
    }
    
    