$breakpoint-mobile: 767px;
$breakpoint-tablet: 1200px;
@media only screen and (max-width: $breakpoint-mobile) {
  .stress-about .col-tilt::before {
    display: none;
  }

  .stress-about .listing-stress-wrapper {
    z-index: 9999;
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: unset;
    padding-left: unset;
  }

  .stress-about .heading-stress-about {
    font-size: 40px;
    font-family: "Roboto";
  }

  .stress-about .list-left-stress li,
  .stress-about .list-right-stress li {
    font-size: 15px;
    font-family: "Roboto";
  }

  .brands {
    padding-top: 75px !important;
  }

  .col-reverse {
    flex-direction: column-reverse;
  }

  .looking-for-car .finance-gradient::after,
  .looking-for-car .finance-gradient::before {
    display: none;
  }

  .col-reverse .left_btn_wrapper {
    margin: 0;
  }

  .looking-for-car .heading-car-loan-about {
    font-size: 45px;
    font-family: "Roboto";
  }

  .looking-for-car .sub-txt-car {
    font-size: 30px;
    font-family: "Roboto";
  }

  .great-loan-card,
  .great-loan-sm-card {
    margin-bottom: 20px;
  }

  .great-loan-card h2 {
    font-size: 30px;
  }

  .great-loans .col-lg-4 {
    margin-top: 25px;
  }

  .great-loan-card {
    min-height: 450px;
  }

  .great-loan-sm-card .great-loan ul li {
    font-size: 18px;
  }

  .main_head_new .slider-corner-cut-2::before {
    content: "";
    bottom: -131px !important;
    height: 200px !important;
    width: 55% !important;
    left: -40px !important;
  }

  .main_head_new .slider-corner-cut-3::before {
    content: "";
    top: -46px !important;
    height: 230px !important;
    width: 50% !important;
    right: 10px !important;
  }

  .great-loans {
    padding: 0 !important;
  }

  .corner-cuts {
    display: none;
  }

  .list-stress-about {
    flex-wrap: wrap !important;
    gap: 0 !important;
  }

  .looking-for-car .finance-gradient {
    position: relative;
    background-color: #702747;
    padding: 40px 40px 30px 40px;
    background-image: url("../images/car-loan.png");
  }
  .looking-for-car .finance-gradient p {
    font-size: 24px;
  }
  .looking-for-car .heading-car-loan-about {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .carloan-finance {
    background-image: url("../images/car-loan.png");
    background-position: center;
    background-size: cover;
    min-height: 350px;
  }
}
@media only screen and (max-width: $breakpoint-tablet) {
  //   .looking-for-car .bg-gradient-img {
  //     background-image: url("../images/car-loan.png");
  //     background-position: top;
  //     background-repeat: no-repeat;
  //     min-height: 500px;
  //     padding-top: 410px;
  // }

  .bg-gradient-img {
    background-image: url("../images/car-loan.png");
    background-position: center !important;
    padding-top: 610px !important;
    background-size: cover !important;
  }
  .looking-for-car .finance-gradient {
    padding: 40px 40px 49px 40px;
    background-image: none;
    background-color: #702747;
  }
  .stress-about .listing-stress-wrapper {
    transform: unset;
    padding-left: unset;
    padding-right: 20px;
  }

  .stress-about .heading-stress-about {
    font-size: 40px;
    font-family: "Roboto";
  }

  .great-loan-card,
  .great-loan-sm-card {
    margin-bottom: 20px;
  }

  .great-loans .col-lg-4 {
    margin-top: 25px;
  }

  .main_head_new .slider-corner-cut-3::before {
    content: "";
    top: 50px !important;
    height: 100% !important;
    width: 100% !important;
    right: -71% !important;
  }

  .main_head_new .slider-corner-cut-2::before {
    content: "";
    bottom: 0 !important;
  }

  .great-loans .img-wrapper {
    background-position: center top;
  }

  .stress-about .list-stress-about {
    gap: 80px;
    padding-left: 20px;
  }
  //   .looking-for-car .bg-gradient-img {
  //     background-image: unset;
  //     padding: 0 !important;
  // }

  .bg-gradient-img {
    padding-top: unset !important;
  }
  .carloan-finance {
    background-image: url(../images/car-loan.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh !important;
  }
}

@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .looking-for-car .col-lg-7 {
    flex: 0 0 auto;
    width: 100%;
  }
  .looking-for-car .bg-gradient-img {
    background-position: top;
    padding-top: 610px;
    background-size: contain;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .looking-for-car .heading-car-loan-about,
  .sub-txt-car {
    font-size: 40px !important;
  }
}
