* {
  margin: 0;
  padding: 0;
}
body,
html {
  overflow-x: hidden;
  min-height: 100vh;
}

@import "_reset";
@import "_nav";
@import "_main";
@import "_steps";
@import "_why-us";
@import "_loan";
@import "_banner";
@import "_newsSlider";
@import "_guide";
@import "_help";
@import "_lending";
@import "_question";
@import "_footer";
@import "_responsive";
@import "_formInner";
@import "_banner_2";
@import "_banner_form";
@import "_section";
@import "_new-changes";
@import "_header-new";
@import "_banner-new.scss";