.brands {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.brands_slider_container {
    height: 130px;
    padding-left: 97px;
    padding-right: 97px;
    background: #fff;
    position: relative;
}

.brands_slider {
    height: 100%;
}

.brands_item {
    height: 100%
}

.brands_item img {
    max-width: 100%
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.brands_nav:hover i {
    color: #676767
}

.brands_prev {
    left: 0px
}

.brands_next {
    right: 0px
}
.main-heading {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #621A4B;
}
.heading-separator {
    height: 4px;
    background: #FBA01F;
    width: 135px;
}
.loans-term {
    padding: 60px 0 100px 0;
}
.loans-term-content h2 {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: #621A4B;
    font-weight: bold;
}
.loans-lists ul {
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.loans-lists ul li img {
    margin-right: 10px;
}
.loans-lists ul li {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #621A4B;
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
}
.loans-lists ul li::before {
    content: "";
    background-image: url("../images/tick.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    width: 23px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 5px;
}
.navbar-nav li a {
    font-family: 'Open Sans', sans-serif;
  }
.navbar-nav li  {
    margin-left: 10px;
}