.brands {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.brands_slider_container {
    height: 130px;
    padding-left: 97px;
    padding-right: 97px;
    background: #fff;
    position: relative;
}

.brands_slider {
    height: 100%;
}

.brands_item {
    height: 100%
}

.brands_item img {
    max-width: 100%
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.brands_nav:hover i {
    color: #676767
}

.brands_prev {
    left: 0px
}

.brands_next {
    right: 0px
}
.main-heading {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #621A4B;
}
.heading-separator {
    height: 4px;
    background: #FBA01F;
    width: 135px;
}