* {
  margin: 0;
  padding: 0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 210px;
  height: 95px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main_head {
  padding-top: 145px;
  background-image: url("../images/bg_main.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.tiger_top_left h2 {
  color: #FBA01F;
  font-size: 90px;
  line-height: 80px;
}

.tiger_top_left h2 span {
  color: #FFF;
}

.tiger_top_left h3 {
  color: #FFFFFF;
  font-size: 60px;
  line-height: 80px;
}

.tiger_top_left p {
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 300;
  line-height: 30px;
}

.tiger_list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tiger_list li {
  font-size: 18px;
  line-height: 30px;
  color: #FFF;
  font-weight: 300;
  width: 50%;
  position: relative;
}

.tiger_list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 12px;
  background-image: url("../images/tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.left_btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left_btn_wrapper a {
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50%;
}

.left_btn_wrapper a img {
  width: 8px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
}
